# P2 Data Processing - Rentals

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from glob import glob

pd.set_option("display.max_columns", 100)

In [2]:
DATA_DIR = os.path.join(os.environ["HOME"], "Datasets", "HTX_Hackathon","ps2-rental_bases")

# Read Data

In [3]:
p2_listing = pd.read_csv(os.path.join(DATA_DIR, "listings.csv"))
p2_reviews = pd.read_csv(os.path.join(DATA_DIR, "reviews.csv"))

display(p2_listing.shape)
display(p2_listing.head())
display(p2_reviews.shape)
display(p2_reviews.head())

(3672, 57)

,id,name,description,neighborhood_overview,host_id,host_startdate,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,risk_score,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,50646,Pleasant Room along Bukit Timah,Fully furnished bedroom with a nice view on th...,The serenity & quiet surrounding makes it an i...,227796,2010-09-08,"Singapore, Singapore",NaN,NaN,NaN,f,Bukit Timah,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,"Singapore, Singapore",1.33432,103.78521,Private room in rental unit,Private room,2,NaN,1 bath,1.0,1.0,"[""Shampoo"", ""Essentials"", ""Kitchen"", ""Long ter...",$80.00,90,730,90.0,90.0,730.0,730.0,90.0,730.0,NaN,t,30,60,90,365,2021-12-27,18,0,0,2014-04-18,2014-12-26,0.088,NaN,f,1,0,1,0,0.19
1,71609,Ensuite Room (Room 1 & 2) near EXPO,For 3 rooms.Book room 1&2 and room 4<br /><br ...,NaN,367042,2011-01-29,Singapore,within a day,100%,NaN,f,Tampines,8.0,8.0,"['email', 'phone', 'reviews', 'manual_offline'...",t,t,NaN,1.34537,103.95887,Private room in villa,Private room,6,NaN,1 private bath,2.0,3.0,"[""Hangers"", ""Cooking basics"", ""Washer"", ""Hair ...",$179.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,NaN,t,30,60,90,365,2021-12-27,20,0,0,2011-12-19,2020-01-17,0.112,NaN,f,5,0,5,0,0.16
2,71896,B&B Room 1 near Airport & EXPO,<b>The space</b><br />Vocational Stay Deluxe B...,NaN,367042,2011-01-29,Singapore,within a day,100%,NaN,f,Tampines,8.0,8.0,"['email', 'phone', 'reviews', 'manual_offline'...",t,t,NaN,1.34754,103.95958,Private room in residential home,Private room,3,NaN,Shared half-bath,1.0,1.0,"[""Coffee maker"", ""Cooking basics"", ""Washer"", ""...",$82.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,NaN,t,30,60,90,365,2021-12-27,24,0,0,2011-07-30,2019-10-13,0.168,NaN,f,5,0,5,0,0.19
3,71903,Room 2-near Airport & EXPO,"Like your own home, 24hrs access.<br /><br /><...",Quiet and view of the playground with exercise...,367042,2011-01-29,Singapore,within a day,100%,NaN,f,Tampines,8.0,8.0,"['email', 'phone', 'reviews', 'manual_offline'...",t,t,"Singapore, Singapore",1.34531,103.96100,Private room in residential home,Private room,3,NaN,Shared half-bath,1.0,2.0,"[""Coffee maker"", ""Cooking basics"", ""Washer"", ""...",$82.00,92,1125,92.0,92.0,1125.0,1125.0,92.0,1125.0,NaN,t,30,60,90,365,2021-12-27,47,0,0,2011-05-04,2020-01-09,0.118,NaN,f,5,0,5,0,0.36
4,275343,"Conveniently located City Room!(1,2,3,4,5,6,7,8)",Awesome location and host <br />Room near INSE...,NaN,1439258,2011-11-24,"Singapore, Singapore",within a few hours,87%,77%,f,Bukit Merah,16.0,16.0,"['email', 'phone', 'reviews', 'jumio', 'offlin...",t,t,NaN,1.29015,103.80814,Private room in rental unit,Private room,1,NaN,NaN,1.0,1.0,"[""Shampoo"", ""Essentials"", ""Keypad"", ""Kitchen"",...",$52.00,14,999,14.0,14.0,999.0,999.0,14.0,999.0,NaN,t,6,36,66,341,2021-12-27,20,0,0,2013-04-20,2020-04-17,0.122,S0399,f,16,1,15,0,0.19

(43939, 5)

,listing_id,id,date,reviewer_id,comments
0,50646,11909864.0,2014-04-18,1356099.0,A comfortable room in a smart condo developmen...
1,50646,13823948.0,2014-06-05,15222393.0,Stayed over at Sujatha's house for 3 good nigh...
2,50646,15117222.0,2014-07-02,5543172.0,It's been a lovely stay at Sujatha's. The room...
3,50646,15426462.0,2014-07-08,817532.0,"We had a great experience. A nice place, an am..."
4,50646,15552912.0,2014-07-11,10942382.0,Quiet condo. Comfortable stay and good location.

## Clean Up `listing_id` Column in Reviews

In [4]:
p2_reviews_clean = p2_reviews.copy()
p2_reviews_clean = p2_reviews_clean[p2_reviews_clean["listing_id"].apply(lambda x: x.isnumeric())]

display(p2_reviews_clean.shape)
display(p2_reviews_clean.head())

(43239, 5)

,listing_id,id,date,reviewer_id,comments
0,50646,11909864.0,2014-04-18,1356099.0,A comfortable room in a smart condo developmen...
1,50646,13823948.0,2014-06-05,15222393.0,Stayed over at Sujatha's house for 3 good nigh...
2,50646,15117222.0,2014-07-02,5543172.0,It's been a lovely stay at Sujatha's. The room...
3,50646,15426462.0,2014-07-08,817532.0,"We had a great experience. A nice place, an am..."
4,50646,15552912.0,2014-07-11,10942382.0,Quiet condo. Comfortable stay and good location.

# Join Data

In [5]:
# convert join keys to int
p2_reviews_clean["listing_id"] = p2_reviews_clean["listing_id"].astype(int)
p2_listing["id"] = p2_listing["id"].astype(int)

p2_joined = p2_listing.merge(p2_reviews_clean, how = "left",
                            left_on = "id", right_on = "listing_id")

display(p2_joined.shape)
display(p2_joined.head())

(44867, 62)

,id_x,name,description,neighborhood_overview,host_id,host_startdate,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,risk_score,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,listing_id,id_y,date,reviewer_id,comments
0,50646,Pleasant Room along Bukit Timah,Fully furnished bedroom with a nice view on th...,The serenity & quiet surrounding makes it an i...,227796,2010-09-08,"Singapore, Singapore",NaN,NaN,NaN,f,Bukit Timah,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,"Singapore, Singapore",1.33432,103.78521,Private room in rental unit,Private room,2,NaN,1 bath,1.0,1.0,"[""Shampoo"", ""Essentials"", ""Kitchen"", ""Long ter...",$80.00,90,730,90.0,90.0,730.0,730.0,90.0,730.0,NaN,t,30,60,90,365,2021-12-27,18,0,0,2014-04-18,2014-12-26,0.088,NaN,f,1,0,1,0,0.19,50646.0,11909864.0,2014-04-18,1356099.0,A comfortable room in a smart condo developmen...
1,50646,Pleasant Room along Bukit Timah,Fully furnished bedroom with a nice view on th...,The serenity & quiet surrounding makes it an i...,227796,2010-09-08,"Singapore, Singapore",NaN,NaN,NaN,f,Bukit Timah,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,"Singapore, Singapore",1.33432,103.78521,Private room in rental unit,Private room,2,NaN,1 bath,1.0,1.0,"[""Shampoo"", ""Essentials"", ""Kitchen"", ""Long ter...",$80.00,90,730,90.0,90.0,730.0,730.0,90.0,730.0,NaN,t,30,60,90,365,2021-12-27,18,0,0,2014-04-18,2014-12-26,0.088,NaN,f,1,0,1,0,0.19,50646.0,13823948.0,2014-06-05,15222393.0,Stayed over at Sujatha's house for 3 good nigh...
2,50646,Pleasant Room along Bukit Timah,Fully furnished bedroom with a nice view on th...,The serenity & quiet surrounding makes it an i...,227796,2010-09-08,"Singapore, Singapore",NaN,NaN,NaN,f,Bukit Timah,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,"Singapore, Singapore",1.33432,103.78521,Private room in rental unit,Private room,2,NaN,1 bath,1.0,1.0,"[""Shampoo"", ""Essentials"", ""Kitchen"", ""Long ter...",$80.00,90,730,90.0,90.0,730.0,730.0,90.0,730.0,NaN,t,30,60,90,365,2021-12-27,18,0,0,2014-04-18,2014-12-26,0.088,NaN,f,1,0,1,0,0.19,50646.0,15117222.0,2014-07-02,5543172.0,It's been a lovely stay at Sujatha's. The room...
3,50646,Pleasant Room along Bukit Timah,Fully furnished bedroom with a nice view on th...,The serenity & quiet surrounding makes it an i...,227796,2010-09-08,"Singapore, Singapore",NaN,NaN,NaN,f,Bukit Timah,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,"Singapore, Singapore",1.33432,103.78521,Private room in rental unit,Private room,2,NaN,1 bath,1.0,1.0,"[""Shampoo"", ""Essentials"", ""Kitchen"", ""Long ter...",$80.00,90,730,90.0,90.0,730.0,730.0,90.0,730.0,NaN,t,30,60,90,365,2021-12-27,18,0,0,2014-04-18,2014-12-26,0.088,NaN,f,1,0,1,0,0.19,50646.0,15426462.0,2014-07-08,817532.0,"We had a great experience. A nice place, an am..."
4,50646,Pleasant Room along Bukit Timah,Fully furnished bedroom with a nice view on th...,The serenity & quiet surrounding makes it an i...,227796,2010-09-08,"Singapore, Singapore",NaN,NaN,NaN,f,Bukit Timah,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'off...",t,t,"Singapore, Singapore",1.33432,103.78521,Private room in rental unit,Private room,2,NaN,1 bath,1.0,1.0,"[""Shampoo"", ""Essentials"", ""Kitchen"", ""Long ter...",$80.00,90,730,90.0,90.0,730.0,730.0,90.0,730.0,NaN,t,30,60,90,365,2021-12-27,18,0,0,2014-04-18,2014-12-26,0.088,NaN,f,1,0,1,0,0.19,50646.0,15552912.0,2014-07-11,10942382.0,Quiet condo. Comfortable stay and good location.

In [6]:
# CSV baseline data
p2_joined.to_csv(os.path.join(DATA_DIR, "P2_Listing_Base.csv"), index = False)

# Feature Engineering

## Date Features